body {
    background-color: ghostwhite;
}

h1{
    font-family: 'Lobster', sans-serif;
    color: #3871EB;
    font-size: 125px;
    text-shadow: 2px 2px #EB9650;
}

small, p, h2, h3, h4 {
    color: #5A5A5A;
}

header {
    display: none;
}